.center-search {
	width: 100%;
    margin-left: 20px;
    margin-right: 20px;
	margin-bottom: 0 !important;
}
.custom-search-height{
	height: 3.3rem !important;
}
.bg-footer {
    background-color: #463737 !important;
}
.bg-sidenav {
    background-color: #674454!important;
    opacity: 0.9 !important;
}
footer{
    text-align: center;
}
.sidebar-nav ul li a {
    color: #ffffff !important;
}
.ti-close.right-side-toggle{
    float: right;
    margin: 15px;
    color: white;
    cursor: pointer;
}
.index .row.page-titles{
    margin-bottom: 0 !important;
    padding: 14px 24px !important;
}
.index .container-fluid{
    padding: 0 !important;
}
.index .nav.nav-tabs.profile-tab li{
    width: 50% !important;
    text-align: center !important;
}
.index .nav.nav-tabs.profile-tab li a{
    color: #ffffff !important;
    background: #F6821E !important;
}
.index .nav.nav-tabs.profile-tab li a.nav-link.active{
    background: #f6621e !important;
}
.index .nav-tabs .nav-link{
    border-radius: 0 !important;
}
.custom-card{
    margin: 30px !important;
}
.custom-card .card-body{
    padding: 0.5rem !important;
}
.custom-card img{
    border-radius: 0.25rem 0 0 0.25rem;
    max-height: 200px !important;
}
.no-margin-bottom{
    margin-bottom: 0 !important;
}
.no-margin-top{
    margin-top: 0 !important;
}
.no-margin-right{
    margin-right: 0 !important;
}
.no-margin-left{
    margin-left: 0 !important;
}
.no-margin{
    margin: 0 !important;
}
.font-size-half{
    font-size: 50% !important;
}
.bg-white{
    background-color: white !important;
}
.text-white{
    color: white !important;
}
.height100{
    height: 100% !important;
}
.margin-left-20{
    margin-left: 20px !important;
}
.p-l-3{
    padding-left: 3rem !important;
}
.p-r-3{
    padding-right: 3rem !important;
}
.btn-svg{
    margin-left: 10px;
    margin-bottom: -4px;
}
.full-width{
    width: 100% !important;
}
.bg-orange{
    background-color: #F6821E !important;
}
.p-50{
    padding: 50px !important;
}
.p-t-60{
    padding-top: 60px !important;
}
footer{
    color: white !important;
}
.menu-span{
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
}
.white-border{
    border: 2px solid #ffffff !important;
}
.bg-cover-img{
    background: #463737;
}
